<div class="row shadow">
  <div class="col-md-12">
    <div class="row py-2">
      <div class="col-auto mr-auto">
        <img src="assets/images/company-logos/mayadata.svg" alt="Mayadata" height="40">
      </div>
      <div class="col-auto border-left d-flex align-middle pt-2">
        <div class="user-avatar align-middle mx-2">
          <span class="bg-primary p-2 text-white " style="height: 75px;width: 75px; border-radius: 50%;">
            JB
          </span>
        </div>
        <div class="align-middle">
          <p>James Bond</p>
        </div>
      </div>
    </div>
  </div>
</div>