<div class="row col-md-12 footer border-top w-100 py-2 bg-white">
	<div class="row w-100 justify-content-between text-secondary">
		<div class="col-md-4">
			Copyright © 2020 MayaData Inc.
		</div>
		<div class="col-md-5 d-flex justify-content-around text-center">
			<!-- <div>Resource</div> -->
			<div><a class="text-secondary" href="https://mayadata.io/terms" target="_blank" rel="noreferrer noopener">Terms
				of Services</a></div>
			<div><a class="text-secondary" href="https://mayadata.io/privacy-policy" target="_blank" rel="noreferrer noopener">Privacy Policy</a></div>
		</div>
		<div class="col-md-3">
			<div class="float-right"> Powered By <img src="assets/images/OEP/gitlab.svg" alt="" height="25"> GitLab</div>
		</div>
	</div>
</div>