<div class="container-fluid bg-white h-100 ">
    <div class="row border-bottom">
        <div class="col-md-12">
            <div class="row py-2">
                <div class="col-auto mr-auto">
                    <img src="assets/images/company-logos/mayadata.svg" alt="Mayadata" height="40">
                </div>
                <div class="col-auto my-auto btn btn-link" *ngIf="routePath !== '/'" routerLink="/"
                    routerLinkActive="active" style="outline: 0;"> <i
                        class="fa fa-home text-secondary font-size-25 my-auto"></i></div>
                <div class="col-auto my-auto">
                    <a class="btn btn-light text-primary" href="https://e2e.mayadata.io/docs/getstarted" target="_blank">Test plan</a>
                </div>
            </div>
        </div>
    </div>
    <div style="height: -webkit-fill-available;">
        <router-outlet></router-outlet>
    </div>
    <app-footer></app-footer>
</div>