<div class="container-fluid">
  <div>
    <!-- <h6>Stage Status of #5656 pipeline</h6> -->
    <div class="row">
      <div class="col-md-12 p-0 my-2" style="width: 150%; overflow-x: scroll;">
        <!-- <div class="stepper">
          <ng-template ngFor let-stage [ngForOf]="jobsDetail">
            <div class="stepper-step-container">
              <div class="step-success">
                <span class="step-icon-content">
                  <i [ngClass]=stageStatus(stage.status) aria-hidden="true"></i>
                </span>
              </div>
              <div class="step-label font-weight-light">{{stage.stageName}}</div>
            </div>
            <div class="stepper-link-line "></div>
          </ng-template>
        </div> -->
        <h6>Stages of <a href="{{data.web_url}}">#{{pipeline_id}}</a> pipeline</h6>
        <div class="d-flex justify-content-around my-2" style="width: 100%;">
          <ng-template ngFor let-stage [ngForOf]="jobsDetail">
            <div class="d-flex justify-content-around border-radius-pill" [ngClass]=genStageStatus(stage.status)>
              <div class="m-auto"> <i [ngClass]=stageStatus(stage.status) aria-hidden="true"></i>
              </div>
              <div class="fo-sz-12 my-auto px-1 mx-2 font-weight-bold text-dark">
                {{stage.stageName}}
              </div>
            </div>
            <div class="link-stage-line"></div>
          </ng-template>
        </div>
      </div>
    </div>
    <div class="row mt-2 border-top">
      <div class="d-none" id="commit_div">
        <div class="row">
          <div class="col-md-12 text-center mt-5">
            <img src="assets/images/cloud/{{platform}}.svg" alt="gcp-logo">
            <div class="text-secondary my-2 ">
              <h5>Platform : {{platform}}</h5>
              <h6>Kubernetes version 1.15.1</h6>
            </div>
          </div>
        </div>
        <div class="mt-3">
          <div  class="text-center">
            <svg width='100%' height='25' class="container">
              <g>
                <rect fill='#E6EDFF' width='100%' height='25' rx="10"></rect>
                <rect fill='#0063FF'
                  [ngStyle]="{'width':getCoveragePercentage(data.coverage)}"
                  height='25'></rect>
              </g>
            </svg>
            <span style="font-size: 12px;" > Coverage Percentage : {{data.coverage}}</span>
          </div>
        <ng-template #coverageNA>
          <span class="text-dark">NA</span>
        </ng-template>
        </div>
        <div>
          <table class="table table-hover" style="table-layout: fixed;">
            <tr>
              <td>Total test count : </td>
              <td>{{data.total_coverage_count}}</td>
            </tr>
            <tr>
              <td>Covered test count : </td>
              <td>{{data.valid_test_count}}</td>
            </tr>
          </table>
        </div>
      </div>
      <div class="col-md-9 border-left pt-2" id="content_div">
        <button class="btn btn-outline-secondary border-left-0 btn-expand-collapse" (click)="showHide()">Coverage<i
            [ngClass]=btnIcon></i></button>
        <ul class="nav nav-pills mb-3 rounded shadow d-inline-flex float-right font-weight-light view-nav-button"
          id="pills-tab" role="tablist">
          <li class="nav-item my-auto">
            <a class="nav-link active" id="table-view-tab" data-toggle="pill" href="#table-view" role="tab"
              aria-controls="table-view" aria-selected="true"><i class="fa fa-table" aria-hidden="true"></i>
              <span class="ml-2">Table</span></a>
          </li>
          <li class="nav-item my-auto">
            <a class="nav-link" id="graph-view-tab" data-toggle="pill" href="#graph-view" role="tab"
              aria-controls="graph-view" aria-selected="false"><i class="fa fa-bar-chart" aria-hidden="true"></i>
              <span class="ml-2">Graph</span></a>
          </li>
        </ul>
        <div class="tab-content" id="pills-tabContent">
          <div class="tab-pane fade show active" id="table-view" role="tabpanel" aria-labelledby="table-view-tab">
            <h4></h4>
            <div class="row col-md-12 mt-3 d-block job-table">
              <div *ngFor="let stage of jobsDetail">
                <div class="row col-md-12 bg-light"> stage : {{stage.stageName}}</div>
                <table class="table table-hover" style="table-layout: fixed;">
                  <thead>
                    <th scope="col">GitLab JobID</th>
                    <th scope="col">Test Case</th>
                    <th scope="col">Status</th>
                    <!-- <th scope="col">link</th> -->
                  </thead>
                  <tbody>
                    <tr *ngFor="let job of stage.allJobs" class="justify-content-between">
                      <td><a href={{genJobLogLink(job.id)}} target="_blank">{{job.id}}</a></td>
                      <td>
                        <div *ngIf="job.name.includes('tcid') || job.name.includes('TCID'); else nonAutomatedTest"><a
                            href={{genReadmeURL(stage.stageName,job.name)}} target="_blank">{{job.name}}</a></div>
                        <ng-template #nonAutomatedTest>{{job.name}}</ng-template>
                      </td>
                      <td><span [ngClass]=statusButton(job.status)>{{job.status}}</span></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <div class="tab-pane fade" id="graph-view" role="tabpanel" aria-labelledby="graph-view-tab">
            <div id="chart">
              <!-- <canvas id="myChart"></canvas> -->
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3 shadow rounded project-overview-content pt-2 my-2">
        <h6>E2E Test : </h6>
        <div class="row my-3 text-center">
          <h2 class="text-center w-100 text-primary font-weight-bold">oep-e2e-{{platform}}</h2>
        </div>
        <div>
          <h6>pipeline ID: <span class="text-primary">#{{pipeline_id}}</span></h6>
        </div>
        <div id="automated-alljobs-doughnut" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
            <li class="carousel-horizontal-bars active" data-target="#automated-alljobs-doughnut" data-slide-to="0">
            </li>
            <li class="carousel-horizontal-bars" data-target="#automated-alljobs-doughnut" data-slide-to="1"></li>
          </ol>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <div style="display: block" *ngIf="jobsDetail" class="mb-5">
                <h6 class="text-center">Automated test cases</h6>
                <canvas baseChart [data]="doughnutAutomatedChartData" [labels]="doughnutChartLabels"
                  [chartType]="doughnutChartType">
                </canvas>
              </div>
            </div>
            <div class="carousel-item">
              <div style="display: block" *ngIf="jobsDetail" class="mb-5">
                <h6 class="text-center">All Jobs</h6>
                <canvas baseChart [data]="doughnutChartData" [labels]="doughnutChartLabels"
                  [chartType]="doughnutChartType">
                </canvas>
              </div>
            </div>
          </div>
          <a class="carousel-control-prev" href="#automated-alljobs-doughnut" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#automated-alljobs-doughnut" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
        <div class="d-flex mt-2 justify-content-around">
          <div>
            <button type="button" class="btn btn-outline-custom project-external-access-buttons shadow-sm"
              (click)="buttonURL(data.web_url)">
              <span>
                <img src="assets/images/cloud/GitLab.svg" alt="gitlab-icon" class="border rounded-circle" height="35">
                <span class="ml-2">GitLab Pipeline</span>
              </span>
            </button>
          </div>
          <div>
            <button type="button" class="btn btn-outline-custom project-external-access-buttons shadow-sm" disabled>
              <span>
                <img src="assets/images/company-logos/mule-without-tagline.png" alt="openebs-mule"
                  class=" border rounded-circle" height="35"> <span class="ml-2"> e2e-logs</span>
              </span>
            </button>
          </div>
        </div>
        <div class="mt-2">
          <ul class="list-unstyled">
            <li>
              <p>Started : <span class="font-weight-bold">{{dateFormat(data.jobs[0].started_at)}}</span></p>
            </li>
            <li>
              <p>Finished : <span
                  class="font-weight-bold">{{dateFormat(data.jobs[data.jobs.length-1].finished_at)}}</span></p>
            </li>
            <li>
              <p>Duration : <span class="font-weight-bold">
                  {{dateDiff(data.jobs[0].started_at,data.jobs[data.jobs.length-1].finished_at)}}</span></p>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <ng-template #loadingSpinner>
    <app-lodding-spinners></app-lodding-spinners>
  </ng-template>
</div>