<div class="wrapper">
<div class="mdap-logo" title="mdap-ci">
    <img src="assets/images/sidenav/mayaonline.svg" alt="mdap-ci" height="128px" width="128px" title="Home">
</div>
<div class="sidebar-header-divider"></div>
  <nav id="sidebar">
      <ul class="list-unstyled components">
          <li>
              <ul class="list-unstyled" id="menu1">
                  <!-- <li class="item cursor-pointer" routerLink="/overview" routerLinkActive="active"><a><img src="assets/images/sidenav/dashboard.svg">Overview</a></li> -->
                  <li class="item cursor-pointer" routerLink="/" [routerLinkActiveOptions]="{ exact : true }"
                      routerLinkActive="active"><a><img src="assets/images/sidenav/cidashboard.svg">CI/E2E Dashboard</a></li>
                  <li class="item cursor-pointer" routerLinkActive="active"><a><img src="assets/images/sidenav/bell.svg">Notifications</a></li>
                  <li class="item cursor-pointer" routerLinkActive="active"><a><img src="assets/images/sidenav/docs.svg">Docs</a></li>
                  <li class="item cursor-pointer" routerLinkActive="active"><a><img src="assets/images/sidenav/tour.svg">Take tour</a></li>
              </ul>
          </li>
      </ul>
      <!-- <div class="container">
        <div class="row">
            <div class="col">
                <p class="text-center"><a style="border-bottom: 0px !important;" target="blank_" href="https://openebs.io/" class="border-bottom"><img src="assets/images/company-logos/openebs-logo.svg" style="width:120px;padding: 0px" alt=""></a></p>
                <p class="text-center"><a style="border-bottom: 0px !important;" target="blank_" href="https://mayadata.io/" class="border-bottom"><img src="assets/images/company-logos/mayadata-dark-logo.png" style="width:120px;padding: 0px" alt=""></a></p>
            </div>
      </div>
      </div> -->
  </nav>
</div>